@import "../utils/variables";
@import "../utils/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
  padding-top: 20px;
  gap: 40px;
  * {
    color: $smokeWhite;
  }
  .text-field {
    max-width: 70%;
    @include for-mobile-landscape {
      max-width: 90%;
    }
    margin: 0 20px;
    position: relative;
    padding: 12px;
    background-color: rgba(78, 75, 75, 0.337);
    border-radius: 12px;
    @include easeTransition(0.3s);
    .words {
      color: $gray;
      font-size: 28px;
    }
  }
  .typing-area {
    width: 0;
    height: 0;
    opacity: 0;
    &:focus ~ .text-field {
      box-shadow: rgb(184, 120, 2) 0px 2px 1px, rgb(184, 120, 2) 0px 4px 2px,
        rgb(184, 120, 2) 0px 2px 8px, rgb(184, 120, 2) 0px -2px 8px, rgb(184, 120, 2) 0px 2px 8px;
    }
  }

  .error{
    color:rgb(119, 23, 23);
  }
}
