@import "../utils/variables";
@import "../utils/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  padding-top: 20px;
  gap: 40px;
  * {
    color: $smokeWhite;
  }
  .text-field {
    max-width: 70%;
    @include for-mobile-landscape {
      max-width: 90%;
    }
    margin: 0 20px;
    position: relative;
    padding: 12px;
    background-color: rgba(78, 75, 75, 0.337);
    border-radius: 12px;
    @include easeTransition(0.3s);
    .words {
      word-break: break-all;
    }

    .typed-text {
      position: absolute;
      word-break: break-all;
      top: 12px;
      left: 12px;
      right: 12px;
      min-height: 18px;
      font-weight: 500;
    }

    .words {
      color: $gray;
    }
  }
  .typing-area {
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 4px 4px 4px 8px;
    width: 0;
    height: 0;
    opacity: 0;
    &:focus ~ .text-field {
      box-shadow: rgb(184, 120, 2) 0px 2px 1px, rgb(184, 120, 2) 0px 4px 2px,
        rgb(184, 120, 2) 0px 2px 8px, rgb(184, 120, 2) 0px -2px 8px, rgb(184, 120, 2) 0px 2px 8px;
    }

    background-color: rgba(78, 75, 75, 0.337);
  }

  .error {
    background-color: red !important;
  }
}
