* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.wrapper {
  min-height: 100dvh;
  background-color: #141414;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}
.container * {
  color: #e5e5e5;
}

.text-field {
  min-width: 90%;
  height: 100px;
  margin: 100px auto;
  position: relative;
  padding: 12px;
}
.text-field .words {
  position: absolute;
  word-break: break-all;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.text-field .typed-text {
  position: absolute;
  word-break: break-all;
  top: 0;
  left: 0;
  min-height: 18px;
  font-weight: 500;
}
.text-field .typed-text span {
  position: relative;
  background-color: #141414;
}
.text-field .typed-text span:last-child:before {
  content: "";
  position: absolute;
  background-color: #e5e5e5;
  right: -2px;
  width: 1px;
  height: 20px;
}
.text-field .typed-text .space {
  display: inline-block;
  width: 30px;
}
.text-field .words {
  color: #808080;
}
.text-field .typing-area {
  opacity: 0;
}