* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.wrapper {
  min-height: 100dvh;
  background-color: #141414;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  padding-top: 20px;
  gap: 40px;
}
.container * {
  color: #e5e5e5;
}
.container .text-field {
  max-width: 70%;
  margin: 0 20px;
  position: relative;
  padding: 12px;
  background-color: rgba(78, 75, 75, 0.337);
  border-radius: 12px;
}
@media (max-width: 568px) {
  .container .text-field {
    max-width: 90%;
  }
}
.container .text-field .words {
  word-break: break-all;
}
.container .text-field .typed-text {
  position: absolute;
  word-break: break-all;
  top: 12px;
  left: 12px;
  right: 12px;
  min-height: 18px;
  font-weight: 500;
}
.container .text-field .words {
  color: #808080;
}
.container .typing-area {
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 4px 4px 4px 8px;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: rgba(78, 75, 75, 0.337);
}
.container .typing-area:focus ~ .text-field {
  box-shadow: rgb(184, 120, 2) 0px 2px 1px, rgb(184, 120, 2) 0px 4px 2px, rgb(184, 120, 2) 0px 2px 8px, rgb(184, 120, 2) 0px -2px 8px, rgb(184, 120, 2) 0px 2px 8px;
}
.container .error {
  background-color: red !important;
}

.refresh-button {
  background-color: transparent;
  border: none;
  transition: 0.2s ease;
  cursor: pointer;
}
.refresh-button:active svg {
  fill: #fff;
}